body{
    background-color: white ;
}
.main{
    padding: 10px;
}
.span1{
    color: deepskyblue;
}
.navbar-brand{
    padding-right: 600px;
    padding-left: 100px;
}
.img1{
    display: block;
    width: 70%;
    border-radius: 50%;
    margin: auto;
  
}
.btn1{
    display: block;
    margin: auto;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.btn1:hover {background-color: white}

.jumbotron{
    display: block;
    margin: auto;
    
    background: #D7D5D5;
    width: 1080px;
    border-radius: 1%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.name{
    font-size: 35px;
}
.title{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.description{
    text-align: left;
    font-family: arial;
}
.list{
   font-weight: bold;
  
}
.span{
    font-weight: lighter;
}
.img2{
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.heading{
    text-align: center;
    margin-bottom: 60px;
    font-family: helvetica;
    margin-top: 10px;
}
figcaption{
    text-align: center;
    font-family: helvetica;
    text-decoration: none;
    color: black;
}
.dark{
    background-color: #F7DC6F;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.h2f{
    text-align: right;
    color: white;
    margin-top: 10px;
    font-family: helvetica;
}
.fab{
    padding-left: 10px;
}
.fa-facebook-square{
    color: #3b5998;
   
}
.fa-google-plus{
    color: #c32f10;
   
}
.fa-instagram{
    color: hotpink;
}
.fa-github{
    color: black;
    margin-left: 10px;
}
.fa-linkedin{
    color: #3b5998;
}
