body{
    background: #13191E url("image/pattern.svg") top left/auto repeat;
    padding-top: 50px;
}
.navbar{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    margin-bottom: 20px;
    z-index:1;
    background: #1C2329;
}
.main{
    padding: 0px;
}
.span1{
    color: #626b70;
    font-family: 'Major Mono Display', monospace;
}
.fa-smile{
    color: #faed26;
}
.hvr-grow {
    display: inline-block;
    
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover{
transform: scale(1.1);        
}
.navbar-brand{
    padding-right: 600px;
    padding-left: 60px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}
.img1{
    display: block;
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin: auto;
    
  
}
.btn1{
    display: block;
    margin: auto;
    background-color: #13191E;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    margin-bottom:10px;
    cursor: pointer;
}
.btn2{
    display: block;
    margin: auto;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-bottom: 20px;
    width:200px;
    background-color: #13191E;
    font-weight: lighter;
}
.btn1:hover {background-color: ;}

.jumbotron{
    display: block;
    margin: auto;
    
    background: white;
    max-width: 1080px;
    border-radius: 1%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-top: 50px;
}
.name{
    font-size: 35px;
    color: #13191E;
}
.title{
    color: white;
    font-weight: lighter;
}
.description{
    text-align: left;
    font-family: arial;
    color: black;
}
.list{
   
    color: #13191E;
    font-weight: bold;
  
}
.span{
    font-weight: lighter;
    color: black;
}
.img2{
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.heading{
    text-align: center;
    margin-bottom: 60px;
    font-family: helvetica;
    margin-top: 10px;
}


.h2f{
    text-align: right;
    color: white;
    margin-top: 10px;
    font-family: helvetica;
}
.fab{
    padding-left: 10px;
}
.fa-facebook-square{
    color: #3b5998;
   
}
.fa-google-plus{
    color: #c32f10;
   
}
.fa-instagram{
    color: hotpink;
}
.fa-github{
    color: black;
    margin-left: -15px;
}
.fa-linkedin{
    color: #3b5998;
}
.section2{
   display: block;
    margin: auto;
    max-width: 1110px;
    margin-bottom: 20px;
    
}
.myskills{
    text-align: center;
    color: #13191E;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}
.myeducation{
  text-align: center;
    color: #13191E;
    font-size: 30px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
      
}
.mycard{
    background-color:white;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
}
.section3{
   background-color:white;
   border-radius: 1%;
   max-width: 1080px;
    padding-top: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
   
   
}
.edu{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 350px;
    height: auto;
    padding: 10px;
    color: white;
    background-color: #13191E;
}
.eduhead{
    color: #626b70;
    font-size: 100%;
    
}
.exp-head{
text-align: center;
    color: #13191E;
    font-size: 30px;
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    
}
.section4{
    display: block;
    margin: auto;
    max-width: 1080px;
    background-color:white;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
    margin-bottom: 50px;
}
.exp-list{
    text-align: left;
}
.section5{
    
    padding-top: 30px;
    background-color: white;
}
.project-head{
    text-align: center;
    font-size: 30px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}
.project-card1{
    display: block;
    margin: auto;
   margin-bottom: 30px;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    
}
.project-card2{
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.card-title{
    text-align: center;
    margin-top: 10px;
}
.card-text{
    text-align: center;
}
.btn3{
   text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #13191e;
}
.footer-head{
    color: #626b70;
    padding-top: 20px;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 100%;
}
.footer{
    background-color: #13191e;
   
    
}
.fa-heart{
    color: firebrick;
}
